<body class="assign-new"></body>
<h1>New Assignment</h1>

<%= render 'form', assignment: @assignment %>
</br>
<%= button_to 'Back', assignments_path, :method => :get, class: "waves-effect black btn" %>
</br>

<h5>Warning: you can create a new job but only the ship owner/captain can edit the job or transfer jobs to another ship!!! Jobs are owned by the ship Captain!!!</h5>


