body {
    margin: 0;
    color: rgb(236, 228, 236);
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 3px black;
}

nav {
    background-color: black !important;
}

textarea:focus, input:focus {
    color: #00a2ff;
}

input {
    background: 2px solid black !important;
}

input, select, textarea {
    text-shadow: 2px 2px 3px grey;
    width: 400px !important;
}

input[name=commit] {
    height: 50px;
    width: 80px;
    border-radius: 5px;
    background: black;
    border: none;
}

hr {
    width: 600px;
    float: left;
}

select {
    display: block !important;
    width: 200px !important;
}

li {
    list-style-type: none;
}

.droidmail {
    color: rgb(13, 13, 241);
}

.splash-spaceport {
    background-image: image-url("space-port.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  
  .splash-jobs{
    background-image: image-url("load-jobs.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .splash-ships {
    background-image: image-url("new-ships.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .splash-jobs-index {
    background-image: image-url("ships_dock.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .splash-user {
    background-image: image-url("corellia_user.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .assign-new {
    background-image: image-url("assign_new.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .assign-index {
    background-image: image-url("assign_index.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .card {
      color: rgb(238, 84, 37);
  }

  .card-content {
      font-size: 12px !important;
      margin: 10px !important;
  }

  img {
      width: 300px;
      height: 200px;
  }
 